.App {
  display: flex;
  text-align: center;
  background-color: antiquewhite;
  height: 100vh;
}

.Customize {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: xx-large;
}

#content-form{
  display: flex;
  flex-direction: row;
}

.slide{
  margin: 100px
}
